.update-comment-button {
  background-color: green;
  margin-left: 4px;
  border-radius: 8px;
  color: white;
  font-weight: bold;

  &:hover{
    cursor: pointer;
  }
}

.error {
  height: 25px;
  color: rgb(231, 98, 36);
}

.update-comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-comment-input {
  font-weight: bold;
}

.update-comment-input > input {
  width: 300px;
}

.update-comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
