.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  box-shadow: -8px 8px 4px rgb(80, 80, 80);
  border-radius: 12px;
  max-width: 400px;
  height: 300px;
  margin: 8px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: transform, box-shadow;

  &:hover{
    transform: rotate(4deg);
    box-shadow: 0px 0px 4px 4px #4e82eb;
  }
}

.post-card-image {
  max-width: 250px;
  max-height: 141px;
  margin: 0 20px;
  border-radius: 8px;
  box-shadow: -8px 8px 4px rgb(80, 80, 80);
}

.post-card-caption {
  padding: 20px;
  width: 100%;
  max-width: 260px;
  text-align: center;
}
