.delete-modal {
  width: 450px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(223, 75, 75);
  box-shadow: 0 0 4px 8px #dda15e;
  border: 4px solid white;
  border-radius: 16px;
}

.delete-modal-button-confirm {
  background-color: red;
  color: #fffad8;
  font-weight: bold;
  width: 120px;
  border-radius: 8px;
  margin: 8px 0;

  &:hover{
    cursor: pointer;
    box-shadow: 0 0 8px white;
  }
}

.delete-modal-button-cancel {
  background-color: #606c38;
  color: #fffad8;
  font-weight: bold;
  width: 120px;
  border-radius: 8px;
  margin: 8px 0;

  &:hover{
    cursor: pointer;
    box-shadow: 0 0 8px greenyellow;
  }
}

.delete-modal > h3 {
  text-decoration: underline;
  color: #fffad8;
}
