.single-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #283618;
  color: #fefae0;
}

.single-post-image {
  width: 100%;
  max-width: 800px;
  max-height: 800px;
  border-radius: 16px;
  box-shadow: -4px 4px 2px #fefae0;
}

.single-post-details {
  margin-top: 20px;
}

.single-post-mount, .single-post-owner {
  font-weight: bold;
  font-size: 18pt;
}

.comments-container-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 4px;
  background-color: #dda15e;
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  width: 80%;
  margin-top: 8px;
  padding: 12px;
  color: #283618;
}

.comment {
  margin: 4px;
  width: 100%;
  border-left: 2px solid #bc6c25;
  padding-left: 8px;
}

.fake-button-update {
  border: 1px solid black;
  background-color: #606c38;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 2px;
  text-decoration: none;

  &:hover{
      cursor: pointer;
      box-shadow: 0 0 8px green;
  }
}

.comment-buttons > li, .post-buttons > li {
  border: 1px solid black;
  border-radius: 8px;
  background-color: #e62626;
  max-width: 49px;
  list-style: none;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 2px;
  text-decoration: none;

  &:hover{
      cursor: pointer;
  }
}

.comment-buttons, .post-buttons {
  display: flex;
}

.post-buttons {
  justify-content: center;
}

.back-button {
  align-self: flex-start;
  border: 1px solid black;
  background-color: #606c38;
  border-radius: 8px;
  max-width: 60px;
  list-style: none;
  color: white;
  font-weight: bold;
  padding: 4px;
  margin: 8px;
  text-decoration: none;

  &:hover{
      cursor: pointer;
  }
}

.comment-submit-button {
  background-color: #606c38;
  margin-left: 4px;
  border-radius: 8px;
  color: white;
  font-weight: bold;

  &:hover{
    cursor: pointer;
    box-shadow: 0 0 8px greenyellow;
  }
}

.single-post-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #283618;
  color: #fefae0;
}

.new-comment-input > input {
  width: 250px;
  padding: 4px;

  &:focus {
    box-shadow: 0 0 4px 4px #ff8800;
  }
}

.want-mount-button {
  color: rgb(177, 106, 0);
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.wanted-mount-selection {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
