.single-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-post-image {
  width: 100%;
  max-width: 800px;
  max-height: 800px;
  border-radius: 16px;
  box-shadow: -8px 8px 4px rgb(80, 80, 80);
}

.single-post-details {
  margin-top: 20px;
}

.single-post-mount, .single-post-owner {
  font-weight: bold;
  font-size: 18pt;
}

.comments-container-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 8px;
  padding: 4px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  width: 50%;
  margin-top: 8px;
  padding: 4px;
}

.comment {
  margin: 4px;
  width: 100%;
  border-left: 2px solid black;
  padding-left: 8px;
}

.fake-button-update {
  border: 1px solid black;
  background-color: #4e82eb;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 2px;
  text-decoration: none;

  &:hover{
      cursor: pointer;
  }
}

.comment-buttons > li, .post-buttons > li {
  border: 1px solid black;
  border-radius: 8px;
  background-color: #e62626;
  max-width: 49px;
  list-style: none;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 2px;
  text-decoration: none;

  &:hover{
      cursor: pointer;
  }
}

.comment-buttons, .post-buttons {
  display: flex;
}

.post-buttons {
  justify-content: center;
}

.back-button {
  align-self: flex-start;
  border: 1px solid black;
  background-color: #686868;
  border-radius: 8px;
  max-width: 49px;
  list-style: none;
  color: white;
  font-weight: bold;
  padding: 4px;
  margin: 2px;
  text-decoration: none;

  &:hover{
      cursor: pointer;
  }
}

.comment-submit-button {
  background-color: green;
  margin-left: 4px;
  border-radius: 8px;
  color: white;
  font-weight: bold;

  &:hover{
    cursor: pointer;
  }
}

.single-post-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.new-comment-input > input {
  width: 250px;
}
