.main-feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #283618;
  color: #fefae0;
  margin-top: 0;
}

.all-posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 12px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.search-submit-button {
  height: 28px;
}

@media (max-width: 620px) {
  .all-posts-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 621px) and (max-width: 930px) {
  .all-posts-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 931px) and (max-width: 1240px) {
  .all-posts-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1241px) and (max-width: 1540px) {
  .all-posts-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
