.landing-page-container, .landing-page-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page-container {
  background-color: #283618;
  color: #fefae0;;
}

.logo-placeholder {
  width: 50%;
  margin: 10vh 0;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-logo {
  width: 100%;
  border-radius: 16px;
}

.fake-button{
  border: 1px solid black;
  border-radius: 8px;
  background-color: #606c38;
  color: #fefae0;
  font-weight: bold;
  padding: 5px;
  margin: 2px;
  text-decoration: none;

  &:hover{
      cursor: pointer;
      box-shadow: 0 0 8px greenyellow;
  }
}

.welcome-text-container > p, .entry-text-container > .fake-button {
  margin: 8px 0;
}
