.footer-container {
  width: 100%;
  border-top: 2px solid black;
  display: flex;
  justify-content: flex-end;
  max-height: 80px;
  background-color: #fefae0;
}

.dev-links {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #040b77;
}

.dev-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #040b77;
  margin-right: 10px;

}

.git-badge {
  height: 50px;
  width: 50px;
}

.linked-badge {
  height: 40px;
  width: 40px;
}
