.wanted-mounts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wowhead-mount-link {
  text-decoration: none;
  font-size: large;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.wowhead-logo {
  width: 40px;
}
