.login-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #283618;
  border: 4px solid white;
  box-shadow: 0 0 4px 8px #dda15e;
  width: 400px;
  border-radius: 16px;
  color: #fefae0;
}

.login-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-modal-input {
  display: flex;
  flex-direction: column;
  color: #fefae0;
  text-align: center;
}

.login-modal-input > span {
  margin-bottom: 4px;
}

.modal-logo {
  margin-top: 10px;
  height: 40px;
  border: 2px solid black;
  border-radius: 8px;
}

.login-modal-input > input {
  padding: 4px;
  border-radius: 8px;

  &:focus {
    box-shadow: 0 0 4px 4px #ff8800;
  }
}

.login-modal-header {
  color: #fefae0;
  text-align: center;
  text-decoration: underline;
}

.login-form-button {
  margin: 4px 0 4px 0;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #606c38;
  color: #fefae0;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  width: 80px;

  &:hover{
      cursor: pointer;
      box-shadow: 0 0 8px greenyellow;
  }
}

.demo-user-login-button {
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #606c38;
  color: #fefae0;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  width: 80px;

  &:hover{
      cursor: pointer;
      box-shadow: 0 0 8px greenyellow;
  }
}
