.navigation-container {
  display: flex;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  background-color: #fffad8;
  margin-top: 0;
  padding: 2px 2px 2px 0;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #283618;
  border: 2px #dda15e solid;
  justify-content: end;
  position: absolute;
  border-radius: 5px;
  padding: 10px;
  right: 20px;
  top: 40px;
}

.profile-dropdown > li{
  list-style: none;
  color: #fffad8;
}

.navigation-logo {
  height: 50px;
  border-radius: 8px;
  margin-left: 8px;
  margin-top: 2px;
}

.profile-login-button {
  height: 36px;
  width: 36px;
  border-radius: 8px;
  background-color: #606c38;
  color: #FFF;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 8px greenyellow;
  }
}

.my-posts-button {
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #606c38;
  color: white;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;

  &:hover{
      cursor: pointer;
      box-shadow: 0 0 8px green;
  }
}

.logout-button {
  margin-top: 2px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #e92020;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
  text-decoration: none;

  &:hover{
      cursor: pointer;
      box-shadow: 0 0 0 2px greenyellow;
  }
}

.login-button {
  margin-bottom: 2px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #606c38;
  color: white;
  font-weight: bold;
  padding: 4px;
  text-decoration: none;

  &:hover{
      cursor: pointer;
      box-shadow: 0 0 8px green;
  }
}

.create-new-post-button, .profile-link-button {
  border: 1px solid black;
  border-radius: 8px;
  margin: 2px 0;
  background-color: #606c38;
  color: #fffad8;
  font-weight: bold;
  padding: 4px;
  text-decoration: none;

  &:hover{
      cursor: pointer;
      box-shadow: 0 0 8px greenyellow;
  }
}

.create-new-post-button-container, .profile-link-button-container {
  margin: 8px 0;
}

.username-dropdown {
  font-weight: bold;
}
