.navigation-container {
  display: flex;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #85a5e9;
  border: 2px black solid;
  justify-content: end;
  position: absolute;
  border-radius: 5px;
  padding: 10px;
  right: 20px;
  top: 40px;
}

.profile-dropdown > li{
  list-style: none;
}

.navigation-logo {
  height: 50px;
  border-radius: 8px;
}

.profile-login-button {
  height: 50%;
}

.my-posts-button {
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #4e82eb;
  color: white;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;

  &:hover{
      cursor: pointer;
  }
}

.logout-button {
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #e92020;
  color: white;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;

  &:hover{
      cursor: pointer;
  }
}
